## Extract Transform Load (ETL)

After completing this lab you will be able to:

*   Read CSV and JSON file types.
*   Extract data from the above file types.
*   Transform data.
*   Save the transformed data in a ready-to-load format which data engineers can use to load into an RDBMS.

Steps:
1. Import required modules
2. Download zip file from web
3. Unzip file
4.

In [14]:
import zipfile
import glob                         # this module helps in selecting files 
import pandas as pd                 # this module helps in processing CSV files
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime

## Download Zip file

In [4]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip

--2022-06-15 17:18:49--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2707 (2.6K) [application/zip]
Saving to: 'source.zip'

     0K ..                                                    100%  630M=0s

2022-06-15 17:18:51 (630 MB/s) - 'source.zip' saved [2707/2707]

## Unzip Files

In [7]:
with zipfile.ZipFile("source.zip","r") as zip_ref:
    zip_ref.extractall()

## Set Paths

In [15]:
tmpfile    = "temp.tmp"               # file used to store all extracted data
logfile    = "logfile.txt"            # all event logs will be stored in this file
targetfile = "transformed_data.csv"   # file where transformed data is stored

## Extract

### CSV Extract Function

In [16]:
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

### JSON Extract Function

In [17]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process,lines=True)
    return dataframe

### XML Extract Function

In [18]:
def extract_from_xml(file_to_process):
    dataframe = pd.DataFrame(columns=["name", "height", "weight"])
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        name = person.find("name").text
        height = float(person.find("height").text)
        weight = float(person.find("weight").text)
        dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
    return dataframe

### Extract Function

In [24]:
def extract():
    extracted_data = pd.DataFrame(columns=['name','height','weight']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(source1.csv), ignore_index=True)

        
    return extracted_data

In [25]:
extracted_data = extract()

NameError: name 'source1' is not defined

In [23]:
extracted_data

,name,height,weight,firstname,lastname,title,division,building,room,Unnamed: 0,Rates,rates
0,NaN,NaN,NaN,Shiv,Mishra,Engineer,Computer,301.0,11.0,NaN,NaN,NaN
1,NaN,NaN,NaN,Yuh,Datta,developer,Computer,303.0,2.0,NaN,NaN,NaN
2,NaN,NaN,NaN,Rahil,Khan,Tester,Computer,304.0,10.0,NaN,NaN,NaN
3,NaN,NaN,NaN,Deep,Parekh,Designer,Computer,305.0,14.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AUD,1.297088,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
254,ivan,1.72,51.77,NaN,NaN,NaN,NaN,NaN,NaN,34,NaN,NaN
255,simon,1.72,50.97,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,NaN
256,jacob,1.7,54.73,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN,NaN
257,cindy,1.69,57.81,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN,NaN
258,ivan,1.72,51.77,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN,NaN